a.btn {
    color: $white;
    background-color: $main;
    padding: .5rem .45rem;
    display: block;
    text-decoration: none;
    margin-top: 0.75rem;
    width: fit-content;
    font-weight: 600 !important;
    border-radius: 5px;
}